body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffd8d8;
  background-image: url('../assets/Brick-wall.jpg');
  background-position: center;
  background-size: cover;
  text-shadow: 
  .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 
  .1vw 0vw   0vw #f89ddd, .2vw 0vw   0vw #f89ddd, .4vw 0vw   0vw #f89ddd,
  .1vw 0vw  .1vw #fd79d6, .2vw 0vw  .1vw #fd79d6, .4vw 0vw  .1vw #fd79d6,
  .1vw 0vw   2vw #fc54c9, .2vw 0vw   2vw #fc54c9, .4vw 0vw   2vw #fc54c9, 
  .1vw 0vw   1vw #ff31c1, .2vw 0vw   1vw #ff31c1, .4vw 0vw   5vw #ff31c1, 
  .1vw 0vw   5vw #ca018e, .2vw 0vw  20vw #ca018e, .4vw 0vw  10vw #ca018e,
  .1vw 0vw  10vw #a30072, .2vw 0vw  30vw #a30072, .4vw 0vw  10vw #a30072; 
}

.levels {
  display: flex;
  width: 450px;
  margin-top: 20px;
  justify-content: space-around;
  align-self: center;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  cursor: pointer;
}

h1 {
  font-family: 'La Belle Aurore', cursive;
  color: #ffd8d8;
  font-size: 80px;
  margin: 0;
  margin-bottom: -50px;
}

.top-row {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Caveat', cursive;
  padding: 10px;
  font-size: 40px;
  cursor: pointer;
}

.timer {
  cursor: default;
}

.grid {
  height: 288px;
  width: 288px;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid black;
  border-radius: 10px;
}

.grid.mediumGame {
  width: 512px;
  height: 512px;
}

.grid.hardGame {
  width: 512px;
  height: 960px;
}

.grid div {
  font-family: 'Oxanium', cursive;
  width: 32px;
  height: 32px;
  font-size: 15px;
  background-image: url("../assets/square-pink-neon-sign-vector-2577337.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

div.safe.uncovered {
  background-image: none;
  border: none;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

div .flagged {
  background-image: url('../assets/flag.webp');
  background-size: contain;
  background-position: center;
  border: none;
}

.flagging {
  color: black;
}

div .mine-clicked {
  background-image: url("../assets/mine.webp");
  background-size: cover;
  background-position: center;
}

.game-over {
  font-family: 'Caveat', cursive;
  margin: 10px;
}

.hidden {
  display: none;
}