body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}

.start {
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.grid {
  height: 540px;
  width: 540px;
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 58px;
  height: 58px;
  border: 1px solid black;
}

.uncovered {
  background-color: lightblue;
}

.flagged {
  background-color: black;
  background-image: url('../assets/flag.webp');
  background-size: contain;
  background-position: center;
}

.mine-clicked {
  background-image: url("../assets/mine.webp");
  background-size: contain;
  background-position: center;
}

.hidden {
  display: none;
}