body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  color: rgb(218, 218, 218);
  text-shadow: 
  .1vw 0vw .25vw #6d6d6d, .2vw 0vw .25vw #5c5c5c, .4vw 0vw .25vw #5c5c5c, 
  .1vw 0vw   0vw #a1a1a1, .2vw 0vw   0vw #747474, .4vw 0vw   0vw #747474;
  background-image: url('../assets/brick-wall.jpg');
  background-position: center;
  background-size: cover; 
}

.levels {
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-self: center;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

h1 {
  font-size: 80px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.top-row {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.reset {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.timer {
  cursor: default;
}

.grid {
  height: 288px;
  width: 288px;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid black;
  border-radius: 10px;
  margin-top: 60px;
}

.start {
  background-image: url("../assets/easy.png");
  background-position: center;
  background-size: auto;
}

.startMedium {
  background-image: url("../assets/medium.png");
  background-position: center;
  background-size: auto;
  width: 512px;
  height: 512px;
}

.startHard {
  background-image: url("../assets/hard.png");
  background-position: center;
  background-size: auto;
  width: 512px;
  height: 960px;
}

.grid.easyGame {
  margin-top: 10px;
}

.grid.mediumGame {
  margin-top: 10px;
  width: 512px;
  height: 512px;
}

.grid.hardGame {
  margin-top: 10px;
  width: 512px;
  height: 960px;
}

.grid div {
  font-weight: bolder;
  text-shadow: none;
  color: #fde4fd;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-image: url("../assets/pink-neon.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

div.safe.uncovered {
  background-image: none;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

div .flagged {
  background-image: url('../assets/flag.webp');
  background-size: contain;
  background-position: center;
}

div .mine-clicked {
  background-image: url("../assets/mine.webp");
  background-size: cover;
  background-position: center;
}

div.key {
  border: 1px solid #fde4fd;
}

.hidden {
  display: none;
}